.font-style-md
{
	/* a - Style */
	font-family:arial, monospace, terminal;
}
.font-style-jm
{
	font-size: 72pt;
	font-family: jokerman, monospace, terminal;
}
body
{
	/* body-Style */
	background-color:#ddffee;
}
a:hover
{
	/* a:hover - Style */
	font-style:oblique;
	background-color:rgba(0, 230, 0, 90);
}
a
{
	font-family:arial, monospace, terminal;
	color:#000101FA
}
p
{
	font-family:arial, monospace, terminal;
}
nav
{
	background-color: #1111EEFE
}